{% extends "base.html" %}
{% block title %}تسجيل دخول الأدمن{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <h2 class="mb-4 text-center">تسجيل دخول الأدمن</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="password" class="form-label">كلمة المرور</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">دخول</button>
    </form>
</div>
{% endblock %}
