{% extends "base.html" %}
{% block title %}صورة البراند{% endblock %}

{% block content %}
<div class="container mt-4 text-center">
    <h2 class="mb-4">{{ brand.name }}</h2>

    {% if brand.image %}
    <!-- عرض الصورة -->
    <img src="{{ url_for('static', filename='images/' ~ brand.image) }}" 
         class="img-fluid rounded" alt="{{ brand.name }}">
    {% else %}
    <!-- صورة افتراضية لو مفيش -->
    <img src="{{ url_for('static', filename='images/default.png') }}" 
         class="img-fluid rounded" alt="صورة افتراضية">
    {% endif %}

</div>
{% endblock %}
