{% extends "base.html" %}

{% block title %}معرض الفيديوهات{% endblock %}

{% block content %}
<h2 class="mb-4 text-center">معرض الفيديوهات</h2>

<div class="row">
    {% for video in videos %}
    <div class="col-md-3 mb-3">
        <div class="card shadow-sm">

            <video class="card-img-top" controls>
                <source src="{{ url_for('static', filename='videos/' ~ video.filename) }}" type="video/mp4">
                متصفحك لا يدعم عرض الفيديو
            </video>

            <div class="card-body text-center">
                <h6 class="card-title">{{ video.title }}</h6>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
